<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cupcakes</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h1>Cupcakes!</h1>

<ul id="cupcakes-list">
</ul>

<h2>Add new cupcake</h2>

<form id="new-cupcake-form">
  <div>
    <label for="flavor">Flavor: </label>
    <input name="flavor" id="flavor">
  </div>

  <div>
    <label for="size">Size: </label>
    <input name="size" id="size">
  </div>

  <div>
    <label for="rating">Rating: </label>
    <input type="number" name="rating" id="rating">
  </div>

  <div>
    <label for="image">Image: </label>
    <input name="image" id="image">
  </div>

  <button>Add!</button>
</form>

<script src="https://unpkg.com/jquery"></script>
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="/static/cupcakes.js"></script>

</body>
</html>